.main-nav {
  display: flex;
  flex-basis: 403px;
  justify-content: space-between;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-nav__item {
  margin-right: 19px;
}

.main-nav__link {
  color: @second-text-color;
  font-size: 16px;

  &:hover {
    color: @hover-color;
    text-decoration: none;
  }

  &:active {
    color: @active-color;
    text-decoration: none;
  }
}
