.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: @mobile-width-only) {
    max-width: 336px;
  }
}

.page-body__content-wrapper {
  flex-basis: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  @media (max-width: @mobile-width-only) {
    flex-wrap: wrap;
    flex-basis: 336px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}
