@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@main-text-color: black;
@main-text-opacity-color: rgba(0, 0, 0, 0.15);
@input-hover-border: rgba(0, 0, 0, 0.35);
@second-text-color: #0078BB;
@third-text-color: #808080;
@button-text-color: white;
@hover-color: #62B9EA;
@active-color: #0A6EA6;
@active-opacity-color: rgba(255, 255, 255, 0.6);
